<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>google</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.924220970273-df1tiirf9vsvl4t7dvae3p05ifluskns</string>
			</array>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>

    <key>CFBundleURLTypes</key>
    <array>
      <dict>
      <key>CFBundleURLSchemes</key>
      <array>
        <string>fb599962428932830</string>
      </array>
      </dict>
    </array>
    <key>FacebookAppID</key>
    <string>599962428932830</string>
    <key>FacebookClientToken</key>
    <string>db7eeab0eebe71435522ac5850c48754</string>
    <key>BurgerKingClone</key>
    <string>BurgerKing</string>

    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>fbapi</string>
      <string>fb-messenger-share-api</string>
    </array>
    

	<key>UIAppFonts</key>
	<array>
		<string>Flame-Bold.ttf</string>
		<string>Flame-Regular.ttf</string>
		<string>FlameSans-Regular.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
</dict>


</plist>
